
/*--------------------------- Education Components --------------------*/
.Education{
    width: 100vw;
    background-color: rgb(26, 27, 32);
    color: rgb(255, 255, 255);
    display: grid;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    padding-bottom: 100px;
    .Empty{
        height: 12.5vh;
        width: 100vw;
    }
    .EducationTitle{
        text-align: center;
        font-size: 40px;
        padding: 40px 0px;
    }
    .EducationDetails{
        mask: url('../../assets/img/Education-Brush-Mask-Image.png') no-repeat center / cover;
        width: 90vw;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px 0px;
        text-align: center;
        display: grid;
        h1{
            font-family: "Agdasima", sans-serif;
            font-size: 20px;
        }
        h2{
            font-size: 18px;
        }
        p{
            padding: 0px 200px;
            text-align: justify;
            font-size: 15px;
        }
    }
}

