
/*--------------------------- Home Components --------------------*/
header{
    .intro::before{
        content: "";
        height: 40vh;
        width: 40vh;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 12%;
        left: 80%;
        transform: translate(-20%);
        filter: blur(400px);
        z-index: 20;
    }
    .intro{
        height: 100vh;
        width: 100vw;
        background-color: rgba(26, 27, 32, 1);
        color: rgba(255, 255, 255, 1);
        .HContact{
            height: 100vh;
            width: 4vw;
            position: absolute;
            background-color: rgba(26, 27, 32, 1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            div{
                height: 12vh;
                border: 1px solid rgba(255, 255, 255, 1);
                padding-bottom: 10px;
            }
            a{
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                padding: 4px 0px;
                transition: 1;
            }
            a:hover{
                font-size: 24px;
                color: rgba(218, 99, 161, 1);
                padding: 1px 0px;
            }
            main{
                height: 3vh;
            }
        }
        .profile{
            position: absolute;
            top: 20%;
            left: 12%;
            width: 60vw;
            .java{
                font-family: 'JetBrainsMono',sans-serif;
                color: rgba(196, 140, 103, 1);
            }
            span{
            color: rgb(255, 255, 255);
            }
            .main{
               padding-left: 28px;
            }
            .color{
                color: rgba(83, 163, 239, 1);
            }
            .color01{
                color: rgba(215, 186, 125, 1);
            }
            .HContent{
                padding: 2px;
                padding-left: 58px;
                display: grid;
                row-gap: 10px;
                color: rgba(89, 120, 64, 1);
                p{
                    font-size: 16px;
                    text-align: justify;
                }
                button{
                    border-radius: 10px;
                    border: 2px solid rgb(255, 255, 255);
                    padding: 7px 10px;
                    margin: 5px;
                    width: fit-content;
                    font-size: 28px;
                    cursor: pointer;
                    background-color: rgb(26, 27, 32);
                    color: rgb(255, 255, 255);
                    transition: 0.8s;
                    font-family: "Kablammo", sans-serif;
                }
                button:hover{
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
}

