
/*--------------------------- Import Theme.scss --------------------*/
@import './Theme.scss';

/*--------------------------- NavBar Components --------------------*/
header{
    nav{
        background-color: var(--BG_COLOR);
        color: var(--text_COLOR);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 32px;
        position: fixed;
        width: 100vw;
        height: 12vh;
        z-index: 20;
        overflow: hidden;
        .name{
            width: 12vw;
            h1{
                font-size: 28px;
                font-family: "Kablammo", sans-serif;
                text-align: center;
                cursor: default;
            }
        }
        .menu{
            font-family: "Kablammo", sans-serif;
            .menuList{
                display: flex;
                gap: 18px;
                li{
                    cursor: pointer;
                    z-index: 22;
                }
                .ListMenu{
                    display: none;
                }
            }
        }
    }
}

/*--------------------------- phone NavBar Components --------------------*/
@media screen and (min-width: 200px) and (max-width: 1200px) {
    header{
        nav{
            height: 15vh;
            display: grid;
            padding: 1vw;
            position: fixed;
            .name{
                width: 98vw;
                h1{
                    font-size: 18px;
                }
            }
            .menu{
                .menuList{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-evenly;
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

