/*--------------------------- Import Theme.scss --------------------*/
@import './components/style/Theme.scss';

/*--------------------------- ScrollBar Design --------------------*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: var(--BG_COLOR);
 }
 ::-webkit-scrollbar-thumb {
    background: var(--text_COLOR);
    border-radius: 20px;
    border: 1.5px solid var(--BG_COLOR);
 }

